/* Header styling */
header {
    /* Photo by <a href="https://unsplash.com/@eelco_bohtlingk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eelco Böhtlingk</a> on <a href="https://unsplash.com/s/photos/wilderness?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    background-image: url('../images/wilderness.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* text-align: center; */
    color: black;
}
header h1,
header h2,
header h3 {
    backdrop-filter: blur(2px);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1rem;
}
#fetching h2 {
    color: #e7f3cf;
;
}
#error h2,
#error h3 {
    color: rgb(217, 59, 59);
}
header button {
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #e7f3cf;
    background-color: rgb(105, 50, 15);
    color: #e7f3cf;
    transition: 0.5s;
    margin-bottom: 1%;
}
header button:hover {
    background-color: #e7f3cf;
    color: rgb(105, 50, 15);
    border: 1px solid rgb(105, 50, 15);
    transform: scale(1.2);
}

/* Card styling */
.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 3% 0;
    background-color: rgb(172, 156, 142);
    box-shadow: 10px 10px 20px black;
    border-radius: 20px;
}
#card-container img {
    width: 90%;
    border-radius: 30px;
    padding: 2%;
}
#card-container h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}
hr {
    width: 60%;
    color: grey;
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.half {
    width: 30%;
    font-size: 1rem;
}







